.textinput-container {
}

.textinput-container input {
  width: 100%;
  height: 2em;
}

.textinput-container p {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.textinput-container span {
  color: #d45333;
}

.error {
  background-color: #d45333;
  height: 2em;
  display: flex;
  align-items: center;
}

.error p {
  color: white;
  margin: auto 0;
  margin-left: 1em;
}
